<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3YUp7t3UJghp_Eiu09tISrvGMLA0F8_k</string>
	<key>GCM_SENDER_ID</key>
	<string>741270119105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatterbox</string>
	<key>PROJECT_ID</key>
	<string>chatterbox-83ce2</string>
	<key>STORAGE_BUCKET</key>
	<string>chatterbox-83ce2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741270119105:ios:0972acf5f60353cf41aa40</string>
</dict>
</plist>